# Geral:
*.log
*.cache
.env

# Service:
*.sln.DotSettings.user
ParkManager-Service/bin/
ParkManager-Service/obj/
ParkManager-Service/Properties/
ParkManager-Service/appsettings.Development.json
ParkManager-Service/.idea/

# Tests:
tests/ParkManager.Service.Tests/.idea/
tests/ParkManager.Service.Tests/bin/
tests/ParkManager.Service.Tests/obj/
tests/ParkManager.Service.Tests/TestResults/*.*